body {
  align-items: center;
  background-color: #505050;
  color: white;
  display: flex;
  justify-content: center;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin: 10px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.button-view-password {
  background-color: #505050;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 30px;
}

.button-check {
  background-color: #5eca33;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  padding: 5px;
}

.button-cancel {
  background-color: #e63e3e;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  padding: 5px;
}


