.div-form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.section-button-x {
  display: flex;
  justify-content: space-between;
}

.btn-x {
  background-color: rgb(241, 59, 59);
  border: none;
  border-radius: 5px;
  color: white;
  width: 30px;
}
