.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.d-container {
  display: flex;
  flex-direction: column;
}

.child-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.validation-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
}

.parag {
  font-size: 25px;
  text-align: center;
}

.button-cadastrar-nova-senha {
  background-color: #505050;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  padding: 5px;
}
